.team {
    display: flex;
    justify-content: center;
}

.team-versus{
    display: flex;
    justify-content: space-evenly;
    line-height: 1em;
}

.list {
    gap: 1rem;
    list-style-type: none;
    display: flex;
}

.title {
    display: flex;
    justify-content: space-around;
}

.betTitle{
    font-size: xx-large;
    font-weight: 600;
}

.content {
    display: flex;
    flex-flow: column wrap;
    text-align: justify;
    white-space: pre-wrap;
    width: 400px;
}