@import "tailwindcss";
@import "flowbite";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #2C3E50;
  --secondary: #ECF0F1;
  --accent1: #E67E22;
  --accent2: #1ABC9C;
  --white: #FFFFFF;
  --charcoal-black: #1C1C1C;
  --cloud-gray: #E0E0E0;
  --crimson-red: #8B0000;
  --battle-steel: #5C6672;
}