.maindiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statelement {
    display: flex;
}

.stats {
    display: flex;
    gap: 1em;
}

.playerName {
    width: 300px;
    text-align: left;
}

.col{
    width: 120px;
}

.button-header {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}