.header {
  margin: auto;
  padding: 2rem;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
  text-decoration: underline;
}